{{ define "main" }}
    <section class="blog-section container">
        <h2>{{ .Title }}</h2> <div class="article-grid">
            {{ range .Paginator.Pages }}
            <article class="blog-post">
                <span class="date">{{ .Date.Format "2006/01/02" }}</span>
                <h3>{{ .Title }}</h3>
                <p>{{ .Summary }}</p>
                <a href="{{ .Permalink }}" class="read-more">続きを読む</a>
            </article>
            {{ end }}
        </div>
        {{ partial "pagination.html" . }} </section>
{{ end }}