<div class="share-buttons flex justify-center flex-wrap">
    <a href="https://twitter.com/share?url={{ .Permalink }}&text={{ .Title }}" target="_blank" rel="noopener" class="f4 dib bg-blue white br3 no-underline hover-bg-dark-blue">
        <i class="fab fa-twitter"></i> ツイート
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener" class="f4 dib bg-dark-blue white br3 no-underline hover-bg-navy">
        <i class="fab fa-facebook-f"></i> シェア
    </a>
    <a href="https://social-plugins.line.me/lineit/share?url={{ .Permalink }}" target="_blank" rel="noopener" class="f4 dib bg-green white br3 no-underline hover-bg-dark-green">
        <i class="fab fa-line"></i> LINEで送る
    </a>
</div>